<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the author at <a href="mailt:xaviersmet@gmail.com">xaviersmet@gmail.com</a>.
  Find the source code at <a href="https://github.com/xsmet/divelog">www.github.com/xsmet/divelog</a>.
  Contributions welcome!
</p>
