<% if false %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <a href="#" class="close">&times;</a>
<% end %>


<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>
